################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/HR.LeaveManagment.Clean.Domain/bin/Debug/net6.0
FileContentIndex
DesignTimeBuild